.preferences-list{
    display: flex;
  }
  
  .preferences-list__icon{
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
  }
  
  .preferences-list__item{
    max-width: 270px;
    display: flex;
    flex-direction: column;
    &:not(:last-child){
      margin-right: 30px;
    }
  }
  
  .preferences-list__svg{
    display: block;
    margin: 25px 100px;
  }
  

.preferences-list__title{
     color: var(--title-text-color);
         font-size: 14px;
         line-height: 1.14;
         text-transform: uppercase;
         margin-top: 0;
         margin-bottom: 10px;
  }
  
.preferences-list__text{
         line-height: 1.17;
         margin: 0;
  }
  