.button-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
 }

 .img-description{
    border: 1px solid #EEEEEE;
    padding:20px 24px ;
 }

 .button-list .item:not(:last-child){
    margin-right: 8px;
 }